{
	"extends": "@tsconfig/svelte/tsconfig.json",
	"compilerOptions": {
		"allowJs": true,
		"allowArbitraryExtensions": true,
		"allowImportingTsExtensions": true,
		"checkJs": false,
		"lib": ["ES2023", "DOM", "DOM.Iterable"],
		"moduleResolution": "Bundler",
		"noEmit": true,
		"strict": true,
		"target": "ES2023",
		"types": ["svelte", "vite/client", "node"],
		"paths": {
			"@": ["./src"],
			"@/*": ["./src/*"],
			"@admin/*": ["./node_modules/@riducms/admin/src/*", "../node_modules/@riducms/admin/src/*"],
			"@ui/*": ["./node_modules/@riducms/ui/src/*", "../node_modules/@riducms/ui/src/*"],
			"@plugin-richtext/*": ["./node_modules/@riducms/plugin-richtext/src/*", "../node_modules/@riducms/plugin-richtext/src/*"],
			"@plugin-seo/*": ["./node_modules/@riducms/plugin-seo/src/*", "../node_modules/@riducms/plugin-seo/src/*"]
		}
	},
	"include": ["src/**/*.ts", "src/**/*.svelte", "../generated/**/*.ts", "vite.config.ts"]
}
