package content

import (
	"github.com/riducms/ridu"
)

func Config() ridu.Config {
	return ridu.Config{
		Name:        "{{.DisplayName}}",
		Admin:       ridu.AdminConfig{User: "users"},
		Plugins:     installedPlugins(),
		Collections: []ridu.Collection{Users{{if .Starter}}, Posts{{end}}},
	}
}
