{
  "version": 1,
  "plugins": [
    {
      "key": "richtext",
      "goPackage": "github.com/riducms/ridu/plugins/richtext",
      "goVersion": "{{.GoVersion}}",
      "constructor": "New",
      "adminPackage": "@riducms/plugin-richtext",
      "adminVersion": "{{.NPMVersion}}"
    }
  ]
}
